<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kuang.mapper.operatorMapper">

    <insert id="addRoomao" parameterType="operator">
    insert into operator (operatorId,operatorName,operatorDate) values (#{operatorId},#{operatorName},#{operatorDate})
    </insert>

    <delete id="deleteRoomao" parameterType="java.lang.String">
    delete from operator where operatorId = #{operatorId}
    </delete>

</mapper>